html,body{
    margin: 0;
}

div {
    box-sizing:border-box;

}
a{
    text-decoration: none;
    color: #000;
}

.container{
    width:80%;
    margin:auto;
    overflow:auto;
}
header{
    border-bottom: solid 1px #000;
    height: 70px;
}

header .container{
    display: flex;
    justify-content: space-between;
}

body>.container{
    width: 65%;
    padding-top: 60px;
}

header h1{
    margin:0;
    height: 100%;
    line-height: 70px;
}

.header-menu{
    padding: 10px;
    margin-left: 10px;
}

.photo{
    width: calc(100/3);
    float: left;
    padding: 10px;
    margin-bottom: 15px;
}